body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
}

button {
  background: orange;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}
